<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h2><i>Bienvenido </i></h2>

        <button class="btn btn-danger my-5" onclick="location.href='/api/session/logout'">LOGOUT</button>
    </div>
</div>
